/* SZEGÉLY RÉSZLEG */

header, nav, article, aside, footer{
    border: 5px solid rgb(0, 136, 204);
    border-radius: 10px;
    margin: 5px;
}

/* MAIN MEGISMERÉS RÉSZLEG */

#megismeres{
    display: grid;
    grid-template-areas:
        "he he he he"
        "na na na na"
        "as ar ar ar"
        "fo fo fo fo";
    color: black;
}

/* MAIN GALÉRIA RÉSZLEG */

#galery{
    display: grid;
    grid-template-areas:
        "he he he he"
        "na na na na"
        "ar ar ar ar"
        "fo fo fo fo";
    color: black;
}

/* FEJLÉC RÉSZLEG */

header{
    grid-area: he;
    background-color: rgb(0, 191, 255);
    text-align: center;
    color: white;
    font-size: 25px;
}

/* NAVIGÁCIÓS RÉSZLEG */

nav{
    grid-area: na;
    background-color: rgb(0, 136, 204);
    font-size: 18px;
}

nav li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li:hover{
    background-color: rgb(0, 191, 255);
    border: 0px solid rgb(0, 191, 255);
    border-radius: 5px;
}

a{
    color: rgb(245, 224, 132);
    text-decoration: none;
}

/* ARTICLE RÉSZLEG */

article{
    grid-area: ar;
    background-color: rgb(0, 191, 255);
}

.galery{
    background-color: white;
    border: none;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}

.pics{
    margin: auto;
    margin-bottom: 10px;
}

.pics img{
    border-left: 3px solid rgb(0, 136, 204);
    border-right: 3px solid rgb(0, 136, 204);
    border-top: 3px solid rgb(0, 191, 255);
    border-bottom: 3px solid rgb(0, 191, 255);
    border-radius: 10px;
}

/* ASIDE RÉSZLEG */

aside{
    grid-area: as;
    background-color: rgb(0, 191, 255);
}

aside img{
    max-width: 100%;
    margin: 3px;
    margin-bottom: 20px;
    border: 2px solid rgb(0, 136, 204);
    border-radius: 5px;
}

/* FOOTER RÉSZLEG */

footer{
    grid-area: fo;
    background-color: rgb(0, 191, 255);
    text-align: center;
    color: white;
    font-size: 12px;
}

/* RESZPONZIVITÁS */

@media only screen and (max-width: 750px) {
    #megismeres{
        display: grid;
        grid-template-areas:
            "he"
            "na"
            "as"
            "ar"
            "fo";
        color: black;
    }

    #galery{
        display: grid;
        grid-template-areas:
            "he"
            "na"
            "ar"
            "fo";
        color: black;
    }
    
    .galery{
        background-color: white;
        border: none;
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
}

@media only screen and (max-width: 580px) {
    nav li{
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .galery{
        background-color: white;
        border: none;
        grid-template-columns: 1fr;
        display: grid;
    }
}